<h2>Items Pending Your Approval</h2>
<div class='pending-homepage pending'>
	<%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals } %>
</div>

<h2>Confirmation Log</h2>
<div class='pending-homepage'>
	<%= render partial: 'confirmation_log', locals: { recent_audit_items: @recent_audit_items } %>
</div>
 <%= link_to 'View All Confirmed Items', audit_logs_path, class: 'btn btn-primary' %>
