<div class='row'>
	<% if @pending_audit_confirmations %>
		<% if @pending_audit_confirmations.count > 0 %>
			<div class='pending-homepage employee-blocks'>
				<h3>Pending Your Confirmation</h3>
				<br>
				<%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
			</div>
		<% end %>
	<% end %>

	<div class='pending-homepage employee-blocks'>
		<h3>Submit Daily Hours</h3>
		<br>
		<%= link_to "New Time Entry", new_post_path, class: 'btn btn-primary btn-block btn-lg' %>
	</div>
</div>
