<h1>Posts</h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				Hours
			</th>
			<th>
				Date
			</th>
			<th class="hidden-xs">
				Description
			</th>
			<th>
				Status
			</th>
		</tr>
	</thead>
	<tbody id="posts">
    <%= render 'post' %>
	</tbody>
</table>

<div id="paginator">
	<%= paginate @posts, remote: true %>
</div>
