/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.scss";
@import "gritter";
@import "bourbon";

body {
  font-family: "Raleway", sans-serif;
}

.logo {
  font-family: "Bangers", cursive;
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.custom-nav {
  margin-top: 15px;
}

.btn-employee-home {
  white-space: normal !important;
}

.homepage-block {
  width: 25%;
  a {
    color: white;
    text-decoration: none;
  }
}

.button-actions {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 20px auto;
}

@media (max-width: 900px) {
  .homepage-block {
    margin: 10px 0;
    width: 100%;
  }
}
